html {
  font-size: 62.5%;

  @media (max-width: 1200px) {
    font-size: 50%;
  }

  @media (max-width: 768px) {
    font-size: 40%;
  }
}

html,
body {
  height: 100%;
}

body {
  // min-width: 320px;
  color: rgb(72, 60, 8);
  font-family: Roboto;
  font-size: rem(26);
  font-weight: 700;
  @include line-height(26, 34);
  letter-spacing: 0%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.svg {
  margin-right: 5px;
}

.title {
  // font-size: 36px;
  // text-align: center;
  // letter-spacing: 0.04em;
  // text-transform: uppercase;
  // color: $black3;

  // @media (max-width: 1200px) {
  //     font-size: 34px;
  // }

  // @media (max-width: 992px) {
  //     font-size: 32px;
  // }

  // @media (max-width: 768px) {
  //     font-size: 30px;
  // }

  // @media (max-width: 576px) {
  //     font-size: 26px;
  // }
}

.section {
  @include adaptiveValue("padding-top", 100, 65);
  @include adaptiveValue("padding-bottom", 100, 65);
}

.logo {

  // &__header {
  //     width: 315px;
  //     height: 80px;
  //     object-fit: cover;
  // }
}

.btn {
  border: 2px solid white;
  background-color: white;
  color: $white;
  transition: background-color 0.5s;

  &:focus {
    color: $focus;
  }

  &:hover {
    background-color: $white;
    color: $white;
  }

  &:active {
    color: $active;
  }
}

picture {
  line-height: 0;
}

// .video {
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     display: block;
//     position: relative;
//     border-radius: 6px;
//     transition: color 0.5s;

//     &:focus {
//         color: $focus;
//     }

//     &:hover {
//         .video__icon {
//             transition: background-color 0.5s;
//             background-color: $red;
//         }
//     }

//     &:active {
//         color: $active;
//     }

//     &__icon {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translateX(-50%);
//         width: 65px;
//         height: 40px;
//         background: rgba(0, 0, 0, .55);
//         border-radius: 6px;
//         position: relative;

//         &::before {
//             content: "";
//             position: absolute;
//             top: 30%;
//             left: 50%;
//             transform: translateX(-50%);
//             z-index: 100;
//             border-color: transparent transparent transparent $white;
//             border-style: solid;
//             border-width: 9.5px 0 9.5px 17px;
//         }
//     }
// }

* {
  // scrollbar-width: auto;
  scrollbar-color: #C0C0C0 #EFEFF1;
  //для потдержки скрола в фарфокс
}

// footer__link--indent

// [class*="__container"] {
//     background-color: red;
// }

// [class*="__text"] {
//     @media (max-width: 768px) {
//         font-size: 16px;
//     }
// надо будет еще протестить не грузит ли оно сайт
// }

// отзеркалить блок
// &:nth-child(odd) {
//   flex-direction: row-reverse;
// }